<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="assets/css/styles.css">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <button onclick="window.location = '{{ site.url | relative_url }}'">
            Back to Home
        </button>
        <nav>
            <button class="prev" onclick="{% if page.previous %}window.location = '{{page.previous.url | relative_url}}'{% endif %}" {% unless page.previous %}disabled{% endunless %}>
                ← Previous
            </button>
            <select class="chapter-select" onchange="window.location = this.value">
            {% for chapter in site.chapters %}
                <option value="{{chapter.url | relative_url}}"
                {% if page.url == chapter.url %}selected{% endif %}>
                    {{ chapter.title }}
                </option>
            {% endfor %}
            </select>
            <button class="next" onclick="{% if page.next %}window.location = '{{ page.next.url | relative_url }}'{% endif %}" {% unless page.next %}disabled{% endunless %}>
                Next →
            </button>
        </nav>
        <main>
            {{ content }}
        </main>
        <nav>
            <button class="prev" onclick="{% if page.previous %}window.location = '{{page.previous.url | relative_url}}'{% endif %}" {% unless page.previous %}disabled{% endunless %}>
                ← Previous
            </button>
            <select class="chapter-select" onchange="window.location = this.value">
            {% for chapter in site.chapters %}
                <option value="{{chapter.url | relative_url}}"
                {% if page.url == chapter.url %}selected{% endif %}>
                    {{ chapter.title }}
                </option>
            {% endfor %}
            </select>
            <button class="next" onclick="{% if page.next %}window.location = '{{ page.next.url | relative_url }}'{% endif %}" {% unless page.next %}disabled{% endunless %}>
                Next →
            </button>
        </nav>
        <button onclick="window.location = '{{ site.url | relative_url }}'">
            Back to Home
        </button>
    </body>
</html>